html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

body * {
	margin: 0;
	border: none;
}

ul {
    list-style: none;
}

body {
	font-family: Verdana, sans;
	text-decoration:none;
	vertical-align: middle;
	font-size: 12pt;
}

a,
a:link,
a:visited {
	text-decoration: none;
	cursor: pointer;
}
a img{
	border: none;
}
a div,
a:link div h1,
a:hover div,
a:visited div{
	text-decoration:none;
}

dt {
	margin-left: 2ex;
}
dd {
	margin-left: 4ex;
}

div {
    float: left;
}

p {
	margin: 10px 5px;
}
h1 {
	margin: 0px;
	background: #005aa8;
	color: #fff;
}
h3 {
	margin: 0px;
	padding-left:5px;
}

.stripe {
    width: 100%;
    /*padding: 5px 0 5px 0;*/
}
.box {
	margin: 10px 10px;
	overflow:visible;
}
.box .box,
.stripe .stripe,
.box .stripe,
.stripe .box {
	border: none;
}
.box p,
.stripe p {
    margin-left: 5px;
    margin-top:24px;
}

.box.left,
.box.right {
	margin-top: 24px;
	border: 1px solid #abf;
}
.stripe.text {
	padding-left:10px;
}
.stripe.text h3 {
	padding-left:-10px;
}

.title a {
  margin-left: 10px;
  text-align: center;
}

#playlist {
    width:100%;
}

#album_cover_box {
    width: 20%;
    max-height: 100px;
}
#player_interface{
    background: transparent repeat-y left top;
    height: 100px;
}
#player_control {
    margin-left: 100px;
    width: 80%;
    height: 100%;
    padding-left: 20px;
}
#song_title, 
#total_time {
    width:100%;
    text-align: left;
}
#player_pps,
#player_volume {
    font-size: 23pt;
}
#player_pps a,
#player_volume a {
    width: 32px;
}
#player_pps {
    text-align: left;
}
#player_volume {
    margin-right: 50%;
    float: right;
}
#album_cover_box img {
}

.track {
    display:block;
	float: left;
    background: transparent fixed repeat-y left center;
    border-top: 1px solid;
}
.track .title {   
    width: 80%;
    margin-left: 100px;
    padding-left: 20px;
}

.head {
	margin-top: 5px;
	font-size:28px;
	float: none;
	text-align:left;
	height:32px;
	border: none;
	margin-bottom:0px;
	overflow:hidden;
}
.head a,
.head a:link,
.head a:visited{
    padding-left:32px;
	text-decoration: none;
	font-size:27px;
	font-weight: bold;
}

input, label{
    display: block;
}

.box.topmost {
	margin-top:0px;
}
div.menu {
	/*height: 18px;*/
	font-size:16px;
	margin-top:0px;
}
div.menu,
div.menu a,
div.menu a:link,
div.menu a:visited {
	font-weight: bold;
	font-size: 16px;
}
div.menu a:hover {
	text-decoration: underline;
}
div.menu ul {
    padding-left: 32px;
}
ul.sf-menu li {
    height: 100%;
    padding: 2px 8px 2px 8px;
}

.cloud {
	overflow:auto;
	text-align:center;
}

.left {
	float: left;
	width:66%;
}
.right {
	float:left;
	width:34%;
}

.footer {
	float: right;
	width:100%;
	text-align:center;
	font-size: 9pt;
}

div.album {
	text-align: center;
	margin: 3px;
	height: 124px;
	width: 100px;
	padding: 2px;
	overflow: hidden;
	float: left;
	font-size: 9px;
	text-decoration: none;
}
div.album img {
	height: 100px;
	width: 100px;
	border: none;
	padding:0px;
}

hr {
	height:1px;
	width:100%;
}

.alert{
	cursor: pointer;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 99;
}

.explorer {
    height: 450px;
}
.explorer div {
    width: 33%;
    float: left; 
    height: 100%;
    overflow:auto;
}
.explorer ul {
    width: 100%;
    padding: 0;
}
.explorer div ul li {
    width: 98%;
    padding-left: 1%;
    padding-right: 1%;
}
.explorer div div {
    width: 100%;
}
.explorer div div.album {
    width: 100px;
    height: 100px;
}
.explorer div ul li a{
    /*width: 100%;*/
    padding: 0;
}
